<!--start-footer-section-->
    <div class="footer-section">
                <div class="container">
                    <div class="footer-top">
                <p>&copy; 2020 <span>Nelson Website.</span> All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
                            </div>
                    
        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        </div>
    </div>
<!--end-footer-section-->